# Supabase environment variables
# Puedes usar NEXT_PUBLIC_ para acceso client-side o sin prefijo para server-side
NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxxxx
